
* {
	margin:0;
	padding:0;
    box-sizing: border-box; 
}
html, body {
    position: relative;
    width: 100vw;  
    height: 100vh;  
    background-image: url('/images/cyberspace.jpg');
    background-size: cover;
    overflow: hidden;
}
#spacecraft{
    position:absolute; 
	top:5px;
    left:40%;
	width:100px;
	height:100px;
	background-image:url('/images/Spacecraft.png');
    background-size: cover;
    transition: left 0.5s ease;
    box-shadow: 0 0 30px blue, 
    0 0 100px 10px green; 
}
#spacecraft-evil{
    position:absolute; 
	top:5px;
    left:40%;
	width:100px;
	height:100px;
	background-image:url('/images/evil-spacecraft.png');
    background-size: cover;
    transition: left 0.5s ease;
    box-shadow: 0 0 30px purple, 
    0 0 100px 10px red; 
}


.spacecraft-container {
    position: absolute; 
    bottom: 80px;         
    left: 50%;         
    transform: translateX(-50%); 
    height: 100px;     
    width: 200px;      
}
.spacecraft-container-evil {
    position: absolute; 
    top: 20px;         
    left: 50%;         
    transform: translateX(-50%); 
    height: 100px;     
    width: 200px;      
}

#attackButtons {
    position: fixed;
    bottom: 10px;  
    left: 50%;      
    transform: translateX(-50%); 
    text-align: center;
}

.attack-btn{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff; 
    background-color: #ff0000;
    border: none; 
    border-radius: 5px; 
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 
                 0 0 40px rgba(255, 0, 0, 0.7), 
                 0 0 80px rgba(255, 0, 0, 0.7);
    transition: all 0.3s ease-in-out; 
}

.attack-btn:hover {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9), 
                 0 0 60px rgba(255, 0, 0, 0.9),
                 0 0 90px rgba(255, 0, 0, 0.9); 
}

.life-bar {
    position: absolute;
    left: 100px;
    bottom : 0;
    width: 20px; 
    height: 200px; 
    
}
/* Le contenant blanc des lifebars */
.life-bar::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 200px; 
    border: 5px solid white; 
    box-sizing: border-box; 
}



#lifeBar1-background {
    bottom: 60%;
    background-color: aqua;
    opacity: 0;
}

#lifeBar2-background {
    bottom:5%; 
    background-color: aqua;
    opacity: 0;
}

#lifeBar1 {
    bottom: 60%;
    background-color: green; 
    rotate: 180deg;
}

#lifeBar2 {
    bottom:5%;  
    background-color: green;  
    rotate: 180deg;
}


.laser {
    position: absolute;
    bottom: 0;
    height: 5px; 
    background-color: red; 
    opacity: 0.7; 
}

@keyframes shake {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-50%, -50%) rotate(5deg); }
    50% { transform: translate(-50%, -50%) rotate(-5deg); }
    75% { transform: translate(-50%, -50%) rotate(5deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}

#comet {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    height: 300px; 
    background-image: url('/images/comet.png'); 
    background-size: cover;
    z-index: 10;
    opacity: 0; 
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#msgBox {
    font-size: 70px;
    background-color: red;
    color: green;
    text-align: center;
    position: fixed;
    left:25%;
    width: 50%;
    top:-150px;

}
